.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pTop {
  padding-top: 20px;
}
.mTop {
  margin-top: 20px;
}

/* TABLE CSS */

table {
  background: #fff;
}
table,
thead,
tbody,
tfoot,
tr,
td,
th {
  text-align: center;
  margin: auto;
  border: 1px solid #dedede;
  padding: 1rem;
  /* width: 50%; */
  font-size: 0.8rem;
  font-weight: 500;
}

.headerStyle {
  font-size: 1rem;
  color: black;
  font-weight: 500;
}

.headerStyle::before {
  content: open-quote;
}

.headerStyle::after {
  content: close-quote;
}
